@import "tailwindcss";


@theme {
  --color-primary-bg: #F9FAFB; /* Fundo principal */
  --color-card-bg: #FFFFFF; /* Fundo do card */
  --color-card-border: #E5E7EB; /* Borda do card */
  --color-title-text: #1F2937; /* Cor do título */
  --color-subtitle-text: #6B7280; /* Cor do autor */
  --color-accent: #3B82F6; /* Destaques */
}




